tr.ui-sortable-helper > td {
    background: #229ac1 !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

table#whitelist {
    margin-bottom: 20px;
}

#whitelist td {
    max-width: 800px;
    word-wrap: break-word;
}

table#whitelist th {
    vertical-align: middle;
}

#rules button {
    margin-top: 0 !important;
}

.drag-handle {
    cursor:pointer;
}

#loadingBox {
    display:none;
}

.librejs-banners {
    text-align: center;
}

.librejs-controls {
    margin-bottom: 8px;
}