#_LibreJS_CF_panel {
  opacity: 0.8 !important;
  font-family: sans-serif !important;
  font-size: 1.2em !important;
  color: #000 !important;
  z-index: 2147483647 !important;
  background-color: #eee !important;
  position: fixed !important;
  display:inline-block !important;
  border: 2px solid #444 !important;
  text-align: center !important;
  width: 50% !important;
  top: 25% !important;
  bottom: 25% !important;
  left: 25% !important;
  right: 25% !important;
  transition: width .5s !important;
}
#_LibreJS_CF_panel:hover {
  opacity: 1 !important;
}
#_LibreJS_CF_panel h3, #LibreJS_CF_panel h4, #LibreJS_CF_panel h5 {
  font-family: sans-serif !important;
  color: #000 !important;
  background: transparent !important;
  font-weight: bold !important;
  text-align: center !important;
  border: none !important;
  padding: 0 !important;
  margin: .8em !important;
}

#_libreJS_CF_panel a {
  text-decoration: none !important;
  color: #840 !important;
  border: none !important;
}

#_libreJS_CF_panel a:hover {
  text-decoration: none !important;
  color: #c60 !important;
  border-bottom: 1px solid #840 !important;
}


#_LibreJS_CF_panel h3 {
  font-size: 2em !important;
}

#_LibreJS_CF_panel h4 {
  font-size: 1.8em !important;
}

#_LibreJS_CF_panel h5 {
  font-size: 1.5em !important;
}
